h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: "Source Serif Pro", "Sentinel SSm B", serif; 
	line-height: 1.2;
	color: $titan_normal;

}
h1 {
	font-size: 48px;
}
.site-title {
	font-size: 36px;
	a {
		text-decoration: none;
		}
	
}
.home {

	.entry-title {
		font-size: 48px;
		margin-bottom:10px;
		a {
			text-decoration: none;
			
		}
	}
	.entry-meta {
		font-style: italic;
		font-size: 14px;
	}

}

@media(max-width: $md_break) {
	.home {
		.entry-title {
			font-size:32px;
			line-height: 1.2s5em;
		}
	}
	.site-title {
		width:100%;
		text-align: center;
	}
}