h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: "Source Serif Pro", "Sentinel SSm B", serif; 
	color:#006747; //Pantone 342 - IWU Green

}
h1 {
	font-size: 48px;
}

.home {

	.entry-title {
		font-size: 48px;
		margin-bottom:10px;
		a {
			text-decoration: none;
			
		}
	}

}
