.main-navigation {
	display: flex;
	justify-content: flex-start;
	// margin:0 auto;
	padding: 0 3%;
	
	.wrapper-navigation {
		margin:auto 0;
		width:100%;
		// background-color: beige;
	}
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			display: inline-block;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			width:100%;

			ul {
				left: -999em;
				top: 0;
				width: 100%;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					position: relative;
					left: auto;
					padding:10px 20px;
					background-color: #FFF;
				}
			}

			a {
				width: 200px;
				color: $titan_dark;
				font-weight: 700;
				padding:10px 20px;
				background-color: #FFF;
				font-size: 1.025em;
			}

			// :hover > a,
			// .focus > a {

			// }

			// a:hover,
			// a.focus {
			// }
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		margin-right:15px;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color:$titan-normal;
		font-weight: 700;
		font-size: 1.15em;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
	.menu-item-has-children > a:after {
		color: $titan_dark;
		content: ' ▼';
		font-size: 10px;
		vertical-align: 3px;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	color:#fff;
	background-color: $titan-normal;
	border-radius: 5px;
	border:none;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
@media(max-width: $md_break) {
	.main-navigation {
		.wrapper-navigation {
			margin: auto 0;
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}
}