button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $titan-normal;
	border-radius: 3px;
	background: $titan-dark;
	color: #fff;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	font-weight:700;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
