.site {
	display:grid;
	// grid-template-columns: auto ($size__site-sidebar);
	
	// grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	// grid-column-gap: 50px;
	
	grid-template-areas:
		"header header header header"
		". main sidebar ."
		// "footer-widgets footer-widgets footer-widgets"
		"footer footer footer footer";
	grid-template-columns: auto 850px 350px auto;	
}

.site-header {
	grid-area: header;
	
		
}
.site-branding {
	padding:10px 0;
	display:flex;
	justify-content: center;
	width:100%;
	.wrapper-site-branding {
		margin:auto 0;
	
	}
}
.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	padding: 0 30px;
	
	
}

.widget-area {
	grid-area: sidebar;
	padding:0 30px;
	margin-top:150px;
	
}

.site-footer {
	grid-area: footer;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:100%;
	background-color: $titan-normal;
	padding-bottom: 6em;
}

.info-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:100%;
	background-color: $titan-normal;

}

@import "no-sidebar";
