.site {
	display:grid;
	// grid-template-columns: auto ($size__site-sidebar);
	
	// grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	// grid-column-gap: 50px;
	
	grid-template-areas:
		"header header header header"
		". main sidebar ."
		"footer footer footer footer";
	// grid-template-columns: auto 850px 350px auto;	
	grid-template-columns: 1fr 3fr 1fr 1fr;
	
}
.custom-logo {
	display: flex;
	justify-content: center;
	padding:15px;
}




.site-header {
	grid-area: header;
	
		
}
.site-branding {
	padding:10px 0;
	display:flex;
	justify-content: center;
	width:100%;
	background-color: $titan-normal;
	background-color: #efefef;
	.wrapper-site-branding {
		margin:auto 0;
		display:flex;
		flex-direction: row;
		justify-content: space-around;
		max-width:1400px;
		width:1400px;
	
	}
}
.site-main {
	grid-area: main;
	// overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	padding: 0 30px;
	
	
}

.widget-area {
	grid-area: sidebar;
	padding:0 30px;
	margin-top:150px;
	
	h2 {
		border-bottom: $titan-normal 2px solid;
		
	}
}

.site-footer {
	grid-area: footer;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:100%;
	background-color: $titan-normal;
	padding-bottom: 6em;
}

.info-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:100%;
	background-color: $titan-dark;

}
@media(max-width: $md_break) {
	.site {
		grid-template-columns: repeat(4, 4fr);
		grid-template-areas:
		"header"
		"main"
		"sidebar"
		"footer";
		
	}
	.site-header {
		width: 100vw;

	}
	.info-bar {
		width: 100vw;
		
	}
	.site-branding {
		
		
		.wrapper-site-branding {
			justify-content:center;
			flex-direction: column;	
			.site-title {
				
			}
		}
	}
	.custom-logo {
		display:none; 
	}
	.site-main {
		width:100vw;
	}
	.widget-area {
		width:100vw;
	}
}
@import "no-sidebar";
